@use '../../styles/variables' as *;

.developedTitle{
    font-size: 20px;
    color: #303030;

    a{
        font-family: $font-accent;
        font-size: 30px;
        text-decoration: none;
        transition: $transition-interactive;

        &:hover{
            color: #7497DC;
        }
    }
}
